.form__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
}

.form__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
}

.form__checkbox {
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  border-radius: 2px;
}

.form__button {
  color: #ffffff;
  background-color: #2f80ed;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 70%;
}
