.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 548px;
  right: 5px;
  top: 124px;
}

.header__title {
  display: flex;
  flex-direction: column;
  max-width: 709px;
  margin-left: 80px;
  margin-bottom: 28px;
  margin-top: 183px;
  overflow: visible;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__description {
  margin-top: 28px;
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__schedule {
  /*aqui no seupe que ponerle*/
}

.header__address {
  margin-right: 80px;
  margin-bottom: 40px;
}
